<mat-card>
  <mat-card-content>
    <h2 mat-dialog-title>Add Port Mapping</h2>
    <mat-dialog-content>
      <form [formGroup]="form">

        <div class="mat-row">
          <div class="mat-col-9">

            <mat-form-field>
              <mat-label>Protocol</mat-label>
              <mat-select formControlName="protocol">
                  <mat-option *ngFor="let ut of _supportedProtocols" [value]="ut">
                      {{ut}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
          </div>
          <div class="mat-col-3">
            <mat-form-field class="full-width">
              <mat-label class="no-wrap">Server Port</mat-label>
              <input id="user.bind_port" matInput formControlName="bind_port">
            </mat-form-field>
          </div>
        </div>




        <div class="mat-row">
          <div class="mat-col-9">
            <mat-form-field>
              <mat-label>Client</mat-label>
              <mat-select formControlName="user">
                <mat-option *ngFor="let ut of _users" [value]="ut">
                  {{ut.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="mat-col-3">
            <mat-form-field class="full-width">
              <mat-label>Port</mat-label>
              <input id="user.user_port" matInput formControlName="user_port">
            </mat-form-field>
          </div>
        </div>



      </form>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button (click)="onDismiss()">No</button>
      <button mat-raised-button color="warn" (click)="onConfirm()" cdkFocusInitial>Ok</button>
    </mat-dialog-actions>
  </mat-card-content>
</mat-card>