<mat-card>
  <mat-card-content>
    <h2 mat-dialog-title>About</h2>
    <mat-dialog-content>
      <p>Este é um servidor de acesso baseado em OpenVPN.</p>
      <p>Confira o projeto no GitHub:</p>
      <a href="https://github.com/liberatti/access-server" target="_blank">
        https://github.com/liberatti/access-server
      </a>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button (click)="onDismiss()">Close</button>
    </mat-dialog-actions>
  </mat-card-content>
</mat-card>