client
dev tun
proto tcp-client
disable-dco
remote {{ public_addr }} {{ public_port }}
nobind
remote-cert-tls server
auth SHA512
cipher AES-256-GCM
data-ciphers AES-256-GCM:AES-128-GCM:CHACHA20-POLY1305
verb 3
keepalive 10 60
auth-user-pass
<tls-crypt>
{{ tls_key }}
</tls-crypt>
<ca>
{{ ca_cert }}
</ca>
<cert>
{{ cli_crt }}
</cert>
<key>
{{ cli_key }}
</key>
{% if 'default' in target %}
persist-key
persist-tun
resolv-retry infinite
ping-timer-rem
{% endif %}
{% for r in routes %}
route {{ r.ip }} {{ r.mask }}
{% endfor %}
