client
dev tun
proto {{ protocol }}
disable-dco
remote {{ public_addr }} {{ public_port }}
nobind
remote-cert-tls server
auth {{ auth }}
cipher {{ cipher }}
data-ciphers {{ data_ciphers }}
verb 3
keepalive 10 60
auth-user-pass
<tls-crypt>
{{ tls_key }}
</tls-crypt>
<ca>
{{ ca_cert }}
</ca>
<cert>
{{ cli_crt }}
</cert>
<key>
{{ cli_key }}
</key>
{% if 'default' in target %}
persist-key
persist-tun
resolv-retry infinite
ping-timer-rem
{% endif %}
{% for r in routes %}
route {{ r.ip }} {{ r.mask }}
{% endfor %}
