port {{ port }}
proto {{ protocol }}
dev tun
ca {{ pki_dir }}/ca.crt
cert {{ pki_dir }}/issued/{{ name }}.crt
key {{ pki_dir }}/private/{{ name }}.key
dh {{ pki_dir }}/dh.pem
tls-crypt {{ pki_dir }}/tc.key
topology subnet
server {{ subnet }}
persist-key
persist-tun
verb 3
keepalive 10 60
script-security 2
auth {{ auth }}
cipher {{ cipher }}
data-ciphers {{ data_ciphers }}
auth-user-pass-verify "/usr/bin/python3.12 /opt/access-server/openvpn-adapter.py" via-file
client-connect "/usr/bin/python3.12 /opt/access-server/openvpn-adapter.py"
client-disconnect "/usr/bin/python3.12 /opt/access-server/openvpn-adapter.py"
crl-verify {{ pki_dir }}/crl.pem
management 127.0.0.1 23000
{% for r in routes %}
route {{ r.ip }} {{ r.mask }}
{% endfor %}
