.login-card {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 350px;
}

.full-width {
    width: 100%;
}

.login-background {
    background: #0088c1 url(/assets/login-bg.png) 0 0 / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-background::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}